* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --lightblue: #5cadff;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: var(--white);
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow-x: hidden;
  padding-bottom: 10rem;
}

#title {
  padding: 0 0.7rem;
}

#developer {
  padding: 0 0.7rem;
}

main section:first-of-type img {
  width: 100vw;
}

#developer {
  color: var(--white);
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  opacity: 100%;
}

.genre {
  margin-left: 1.6rem;
  margin-top: 1rem;
  opacity: 50%;
  font-weight: 400;
}

#genre {
  margin-left: 1.6rem;
  color: var(--white);
  font-weight: 100;
}

main section:first-of-type p {
  margin-left: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
  font-size: 0.8rem;
}

hr {
  text-align: center;
  margin-top: 1rem;
  border: 1px solid var(--lightblue);
  opacity: 0.3;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 1px;
}

main section:nth-of-type(2) p {
  margin: 1rem;
  color: var(--white);
}

.info {
  display: flex;
}

.info h3 {
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}

#devIcon {
  width: 4rem;
}

#age {
  color: var(--white);
  background-color: var(--blue);
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 2rem;
  text-shadow: var();
}
