main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  font-size: 1.2rem;
}

main section:nth-of-type(3) {
  width: 100vw;
  padding-bottom: 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
form {
  position: relative;
}
#searchbar {
  width: 65vw;
  height: 3rem;
  border-radius: 14px;
  margin-right: 0.5rem;
  border-style: none;
  font-size: 1.2rem;
  background-color: var(--secondarycolor);
  color: white;
  position: relative;
  padding: 10px 10px;
}
main section:first-of-type .flexdiv {
  width: 100vw;
  display: flex;
  justify-content: center;
}
main section:first-of-type .flexdiv form svg {
  position: absolute;
  width: 2rem;
  height: 5vh;
  right: 0;
  margin-right: 1rem;
  fill: white;
}
input::placeholder {
  color: white;
  padding: 10px 10px;
}

main section:first-of-type .flexdiv button {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
main section:nth-of-type(2) {
  display: flex;
  width: 80vw;
  margin-bottom: 1rem;
}
main section:nth-of-type(2) button {
  width: 6rem;
  height: 2rem;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  margin: 0.2rem;
  background-color: white;
}
#Icon_awesome-filter {
  fill: white;
  width: 1vw;
}
main section:first-of-type .flexdiv button svg {
  width: 1rem;
}

main section:nth-of-type(3) article::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.flexdiv {
  display: flex;
}

.filterMenu {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88vh;
  background: var(--darkgrey);
  z-index: 100;
  position: fixed;
  bottom: -100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.activeFilter {
  bottom: 0%;
  -webkit-transition: all 0.5s ease-out;
}
h2 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

.filterMenu article {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
}
.filterMenu svg {
  width: 9vw;
  fill: var(--accentcolor);
  position: absolute;
  right: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.filterMenu article h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1rem;
  margin-top: 1rem;
}
.filterMenu article .divFlexPlatform button {
  align-items: flex-start;
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
.divFlexPlatform {
  flex-wrap: wrap;
  display: flex;
  gap: 0.6rem;
  justify-content: space-around;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
hr {
  text-align: center;
  margin-top: 1rem;
  border: 1px solid var(--lightblue);
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 1px;
}
label {
  margin-top: 1rem;
  width: 2em;
  color: var(--lightblue);
  margin: 1rem;
  font-size: 1.2rem;
}
input[type="range"] {
  margin-top: 1rem;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--lightblue);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 2px;
  margin-top: -10px;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

input[type="range"]::-ms-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: linear-gradient(
    to right,
    var(--accentcolor) calc(var(--value) * 1%),
    var(--buttoncolor) 0
  );
}
.filterMenu article:nth-of-type(2) h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1rem;
}
.buttonContainer {
  bottom: 1rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
}
.filterMenu button {
  width: 40%;
  height: 2.7rem;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.resultButton {
  background-color: var(--buttoncolor);
  color: var(--white);
}
.divFlexGenre {
  flex-wrap: wrap;
  display: flex;
  gap: 0.6rem;
  justify-content: space-around;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  padding-top: 1rem;
}
.filterMenu article .divFlexGenre button {
  align-items: flex-start;
  width: 7rem;
  height: 2.3rem;
  border-radius: 7px;
  border-style: none;
  cursor: pointer;
}
main section:nth-of-type(3) article {
  position: relative;
  color: white;
  cursor: pointer;
}
main section:nth-of-type(3) article h3 {
  position: absolute;
  margin: 0.5rem;
  bottom: 0;
  z-index: 1;
}
main section:nth-of-type(3) article h4 {
  position: absolute;
  margin: 0.5rem;
  z-index: 1;
}
main section:nth-of-type(3) article img:nth-of-type(2) {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
main section:nth-of-type(3) article img:nth-of-type(1) {
  position: absolute;
  width: 2rem;
  z-index: 20;
  object-fit: contain;
  top: 1rem;
  right: 1rem;
}
main section:nth-of-type(3) a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
main section:nth-of-type(3) article {
  width: 80vw;
  height: 18vh;
  background-color: #191e29;
  margin-bottom: 1.4rem;
  border-radius: 20px;
  border: 1px solid white;
  position: relative;
}
