/* TODO: VOEG ID'S AAN ALLES TOE OM ZO ALLES IN DE MAIN CSS TE KUNNEN ZETTEN */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --inactive: #696e79;
  --navcolor: #212e3a;
  --lightblue: #5cadff;
  --signOutColor: #f54949;
}

/****************/
/****************/
/*** TUTORIAL ***/
/****************/
/****************/

#tutorial {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow-y: hidden;
  transition: 750ms;
}

#tutorial article {
  width: 100%;
  height: 45%;
  background-color: var(--navcolor);
  position: absolute;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  transition: 3s;
}

#tutorial article h2 {
  align-self: center;
  text-align: center;
  font-size: 1.75rem;
  text-transform: none;
  margin-bottom: 2rem;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 0.1rem;
}

#tutorial article h2 span {
  color: var(--accentcolor);
  display: block;
}

#tutorial article p {
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
  max-width: 80vw;
  margin-bottom: auto;
}

#tutorial article button {
  padding: 0.75rem 3rem;
  border-radius: 10px;
  border: none;
  width: 60%;
  font-weight: 600;
  cursor: pointer;
  transition: 250ms;
  color: var(--darkgrey);
  text-transform: uppercase;
  background-color: var(--white);
}

#tutorial article button:hover,
#tutorial article button:focus {
  background-color: var(--buttoncolor);
  color: var(--white);
}

#tutorial form {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#tutorial article input {
  padding: 0.75rem 3rem;
  border-radius: 10px;
  border: none;
  width: 60%;
  font-weight: 600;
  cursor: pointer;
  transition: 250ms;
  color: var(--darkgrey);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--white);
  display: none;
}

#tutorial article input:hover,
#tutorial article input:focus {
  background-color: var(--buttoncolor);
  color: var(--white);
}

/****************/
/****************/
/* WELCOME PAGE */
/****************/
/****************/

#welcome,
#login,
#signup {
  overflow-y: hidden;
  overflow-x: hidden;
}

#welcome main,
#login main,
#signup main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
  color: var(--white);
}

#welcome main h1 {
  text-align: center;
  color: var(--accentcolor);
  margin-bottom: 5rem;
  font-size: 2.25rem;
  position: relative;
}

#welcome main h1 span {
  color: var(--white);
  position: relative;
}

#welcome main h1::after {
  width: 100%;
  height: 50%;
  content: "";
  background: linear-gradient(180deg, #14293f, #152839);
  position: absolute;
  left: 0;
  bottom: 0;
  animation-name: introAnimation;
  animation-duration: 3.25s;
  animation-iteration-count: 1;
  opacity: 0;
}

#welcome main h1 span::after {
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, #14293f, #152839);
  position: absolute;
  left: 0;
  animation-name: introAnimation;
  animation-duration: 1.75s;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes introAnimation {
  0% {
    left: 0;
    opacity: 100;
  }

  100% {
    left: 20rem;
    opacity: 100;
  }
}

#welcome main div {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#welcome main div > a {
  width: 70vw;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: var(--buttoncolor);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  transition: 250ms;
}

#welcome main div > a:active,
#welcome main div > a:focus,
#welcome main div > a:hover {
  width: 65vw;
}

#welcome main p {
  color: var(--white);
  font-weight: 400;
}

#welcome main p a {
  color: var(--accentcolor);
  transition: 250ms;
}

#welcome main p a:hover,
#welcome main p a:focus,
#welcome main p a:active {
  color: var(--buttoncolor);
}

/****************/
/****************/
/* LOGIN/SIGNUP */
/****************/
/****************/

#login h1,
#signup h1 {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

#login form,
#signup form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login fieldset,
#signup fieldset {
  border: none;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#login fieldset label,
#signup fieldset label {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

#login fieldset input,
#signup fieldset input {
  background-color: var(--secondarycolor);
  border: none;
  width: 60vw;
  height: 2.25rem;
  border-radius: 5px;
  color: var(--white);
  padding: 0.5rem;
}

#login fieldset:last-of-type input,
#signup fieldset:last-of-type input {
  width: 60vw;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: var(--buttoncolor);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 5rem;
  cursor: pointer;
  transition: 250ms;
  margin-bottom: 1rem;
}

#login fieldset:last-of-type input:active,
#login fieldset:last-of-type input:focus,
#login fieldset:last-of-type input:hover,
#signup fieldset:last-of-type input:active,
#signup fieldset:last-of-type input:focus,
#signup fieldset:last-of-type input:hover {
  width: 55vw;
}

#login fieldset:last-of-type p,
#signup fieldset:last-of-type p {
  text-align: center;
}

#login fieldset:last-of-type p a,
#signup fieldset:last-of-type p a {
  color: var(--accentcolor);
  transition: 250ms;
}

#login fieldset:last-of-type p a:hover,
#login fieldset:last-of-type p a:focus,
#login fieldset:last-of-type p a:active,
#signup fieldset:last-of-type p a:hover,
#signup fieldset:last-of-type p a:focus,
#signup fieldset:last-of-type p a:active {
  color: var(--buttoncolor);
}

#login fieldset input:focus,
#signup fieldset input:focus {
  outline: solid 1px var(--accentcolor);
  outline-offset: 2px;
  border: none;
  width: 60vw;
  height: 2.25rem;
  border-radius: 5px;
}

#login fieldset:last-of-type,
#signup fieldset:last-of-type {
  margin-bottom: 0;
}

/****************/
/****************/
/**** ACCOUNT ***/
/****************/
/****************/

/* #account {
  overflow-y: hidden;
} */

#account main {
  width: 100vw;
  min-height: 100vh;
  background: var(--darkgrey);
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
  color: var(--white);
}

#account main section:first-of-type {
  width: 100vw;
  height: 15vh;
  background-color: var(--accentcolor);
  position: relative;
}

#account main section:first-of-type img {
  width: 6rem;
  height: 6rem;
  background-color: rgba(33, 46, 58, 0.7);
  border-radius: 100%;
  position: absolute;
  left: 1rem;
  bottom: -3rem;
  border: solid 4px var(--navcolor);
}

#account main section:nth-of-type(2) {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 6rem 0;
  padding-bottom: 9rem;
}

#account main section:nth-of-type(2) article {
  background-color: var(--navcolor);
  width: 90vw;
  border-radius: 10px;
  padding: 1rem;
}

#account main section article:first-of-type p {
  margin-bottom: 2rem;
  font-weight: 300;
}

#account main section article:first-of-type .flexdiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#account main section article:first-of-type .flexdiv button,
#account main section article:first-of-type .flexdiv a {
  padding: 0.75rem 1.25rem;
  border-radius: 20px;
  border: none;
  background-color: var(--darkgrey);
  color: var(--white);
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 250ms;
}

#account main section article:first-of-type .flexdiv button:hover,
#account main section article:first-of-type .flexdiv button:focus,
#account main section article:first-of-type .flexdiv button:active,
#account main section article:first-of-type .flexdiv a:hover,
#account main section article:first-of-type .flexdiv a:focus,
#account main section article:first-of-type .flexdiv a:active {
  color: var(--darkgrey);
  background-color: var(--accentcolor);
}

#account main section article:first-of-type .flexdiv button:hover svg,
#account main section article:first-of-type .flexdiv button:focus svg,
#account main section article:first-of-type .flexdiv button:active svg,
#account main section article:first-of-type .flexdiv a:hover svg,
#account main section article:first-of-type .flexdiv a:focus svg,
#account main section article:first-of-type .flexdiv a:active svg {
  fill: var(--darkgrey);
}

#account main section:nth-of-type(2) article:first-of-type a,
#account main section:nth-of-type(2) article:first-of-type button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#account main section:nth-of-type(2) article:first-of-type a svg,
#account main section:nth-of-type(2) article:first-of-type button svg {
  fill: var(--white);
  width: 1rem;
  transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(2) h3,
#account main section:nth-of-type(2) article:nth-of-type(3) h3 {
  margin-bottom: .5rem;
}

#account main section:nth-of-type(2) article:nth-of-type(4),
#account main section:nth-of-type(2) article:last-of-type {
  padding: 0;
}

#account main section:nth-of-type(2) article:nth-of-type(4) a,
#account main section:nth-of-type(2) article:nth-of-type(5) a {
  display: flex;
  text-decoration: none;
  color: var(--white);
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(4) svg {
  width: 1rem;
  margin-left: auto;
  fill: var(--white);
  transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(4) a:hover {
  background-color: var(--accentcolor);
  color: var(--darkgrey);
}

#account main section:nth-of-type(2) article:nth-of-type(4) a:hover svg {
  fill: var(--darkgrey);
}

#account main section:nth-of-type(2) article:nth-of-type(5) a {
  color: var(--signOutColor);
  transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(5) a svg {
  width: 1.5rem;
  margin-right: 1rem;
  fill: var(--white);
}

#account main section:nth-of-type(2) article:nth-of-type(5) a:hover,
#account main section:nth-of-type(2) article:nth-of-type(5) a:focus,
#account main section:nth-of-type(2) article:nth-of-type(5) a:active {
  background-color: var(--signOutColor);
  color: var(--white);
}

#account main #addStatus {
  width: 100vw;
  background-color: var(--navcolor);
  height: 70vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: -100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-top: solid 2px var(--darkgrey);
  transition: 300ms;
}

#account main #addStatus button {
  align-self: flex-end;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
}

#account main #addStatus button:hover {
  cursor: pointer;
}

#account main #addStatus button svg {
  width: 1.5rem;
}

#account main #addStatus button svg path {
  fill: var(--white);
}

#account main #addStatus fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border: none;
  padding: 2rem
}

#account main #addStatus fieldset:first-of-type {
  position: relative;
}

#account main #addStatus fieldset label {
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: 1rem;
}

#account main #addStatus fieldset textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  background-color: var(--darkgrey);
  margin-bottom: auto;
  font-size: 1rem;
}

#account main #addStatus fieldset p {
  bottom: 2.5rem;
  position: absolute;
  right: 3rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

#account main #addStatus fieldset textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#account main #addStatus fieldset input {
  padding: 1rem 6rem;
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, .6);
  color: white;
  cursor: pointer;
  border-radius: 40px;
  font-size: 1rem;
  transition: 250ms;
  font-weight: 600;
}

#account main #addStatus fieldset input:hover,
#account main #addStatus fieldset input:focus,
#account main #addStatus fieldset input:active {
  background-color: var(--accentcolor);
  border: none;
  color: var(--darkgrey);
}

#account #editForm {
  padding: 1rem;
}

#account #editForm fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 2rem;
}

#account #editForm fieldset label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

#account #editForm fieldset input {
  background-color: transparent;
  color: white;
  height: 2.25rem;
  border: solid 1px var(--inactive);
  border-radius: 5px;
  padding: 0.5rem;
  transition: 250ms;
}

#account #editForm fieldset input:focus,
#account #editForm fieldset input:active {
  border: solid 1px var(--white);
  outline: none;
}

#account #editForm fieldset:last-of-type {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#account #editForm fieldset:last-of-type input {
  padding: 0.5rem 2rem;
  border: solid 1px var(--signOutColor);
  font-weight: 600;
  cursor: pointer;
}

#account #editForm fieldset:last-of-type input:hover,
#account #editForm fieldset:last-of-type input:focus,
#account #editForm fieldset:last-of-type input:active {
  background-color: var(--signOutColor);
  color: var(--white);
}

#account #editForm fieldset:last-of-type input:last-of-type {
  background-color: transparent;
  border: solid 1px var(--accentcolor);
}

#account #editForm fieldset:last-of-type input:last-of-type:hover,
#account #editForm fieldset:last-of-type input:last-of-type:focus,
#account #editForm fieldset:last-of-type input:last-of-type:active {
  background-color: var(--accentcolor);
  color: var(--darkgrey);
}

#account .cancelChangeMessage {
  position: absolute;
  width: 100vw;
  height: 80vh;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 100;
  background-color: var(--navcolor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateY(100rem);
  transition: 250ms;
}

#account .cancelChangeMessage h2 {
  font-size: 2rem;
}

#account .cancelChangeMessage p {
  font-size: 1.25rem;
  max-width: 80vw;
}

#account .cancelChangeMessage p span {
  display: block;
}

#account .cancelChangeMessage div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#account .cancelChangeMessage div button {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: solid 1px var(--signOutColor);
  font-weight: 600;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  transition: 250ms;
}

#account .cancelChangeMessage div button:first-of-type:hover,
#account .cancelChangeMessage div button:first-of-type:focus,
#account .cancelChangeMessage div button:first-of-type:active {
  background-color: var(--signOutColor);
}

#account .cancelChangeMessage div button:last-of-type {
  border: solid 1px var(--accentcolor);
}

#account .cancelChangeMessage div button:last-of-type:hover,
#account .cancelChangeMessage div button:last-of-type:focus,
#account .cancelChangeMessage div button:last-of-type:active {
  background-color: var(--accentcolor);
  color: var(--darkgrey);
}

/* TODO: MAAK HIER EEN COMPONENT VAN */
/****************/
/****************/
/**** FORUM *****/
/****************/
/****************/

#forum {
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  width: 100vw;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
}
#forum section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;

  font-size: 1.2rem;
}
#forum section:first-of-type h1 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
form {
  position: relative;
}
#forum #searchbar {
  width: 65vw;
  height: 3rem;
  border-radius: 14px;
  margin-right: 0.5rem;
  border-style: none;
  font-size: 1.2rem;
  background-color: var(--secondarycolor);
  color: white;
  position: relative;
  padding: 10px 10px;
}
#forum section:first-of-type .flexdiv {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
#forum section:first-of-type .flexdiv form svg {
  position: absolute;
  width: 2rem;
  height: 5vh;
  right: 0;
  margin-right: 1rem;
  fill: white;
}
#forum input::placeholder {
  color: white;
  padding: 10px 10px;
}
#forum section:first-of-type .flexdiv button {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
#forum #Icon_awesome-filter {
  fill: white;
  width: 1vw;
}
#forum section:first-of-type .flexdiv button svg {
  width: 1rem;
}
#forum form {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
#forum .emptyState {
  height: 0;
}
#forum section:nth-of-type(2) {
  display: flex;
  height: 50vh;
  justify-content: center;
}
#forum section:nth-of-type(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--accentcolor);
  cursor: pointer;
}

#forum section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forum fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

#forum input,
textarea {
  border-radius: 8px;
  background-color: var(--inactive);
  border: none;
  height: 1.5rem;
  color: var(--white);
  padding: 0.5rem 0.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#forum select {
  border-radius: 8px;
  background-color: var(--inactive);
  border: none;
  height: 1.5rem;
  color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#forum #description {
  height: 4rem;
  resize: vertical;
  max-height: 10rem;
}

#forum #svgPlus {
  width: 2.1rem;
  height: 2.1rem;
  position: relative;
  top: 2.2em;
  left: 3em;
  background-color: var(--accentcolor);
  border-radius: 100%;
  padding: 0.5rem;
}

#forum #submitButton {
  padding: 0;
  border: 1px var(--white) solid;
  background-color: transparent;
  height: 4em;
  cursor: pointer;
}

#forum #svgPlus {
  top: 8.5em;
  left: 5.2em;
  position: absolute;
}

#forum article {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  border: 1px var(--white) solid;
  border-radius: 8px;
  height: 11rem;
  background-color: var(--darkgrey);
}

/* #forum article img {
  width: 35vw;
  height: 35vw;
  padding: 0.2em;
  order: -1;
  border-radius: 10px;
} */

#forum article h2 {
  width: 40vw;
  color: var(--white);
  text-transform: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
#forum #newPost {
  width: 80vw;
  border: 1px var(--white) solid;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 3em;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--darkgrey);
  /* margin-bottom: 1rem; */
}

#forum section article svg {
  margin-top: 0.5em;
  width: 15px;
  height: 15px;
  fill: #ffffff;
}

#forumsection article p {
  font-size: 0.9rem;
}

#forum #postsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 6rem;
}

#forum #postsSection article {
  height: 10rem;
}

#forum #postsSection article a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

#forum #postsSection article div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1rem;
}

#forum #postsSection article img {
  border: solid 1px var(--white);
  height: 80%;
  width: 100%;
  border-radius: 10px;
}

#forum #postsSection article div p:last-of-type span {
  color: var(--accentcolor);
}

/******************/
/******************/
/** POST DETAIL ***/
/******************/
/******************/

#postDetail {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
  color: var(--white);
}

#postDetail section:nth-of-type(2) {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  padding-bottom: 1rem;
}

#postDetail section:nth-of-type(2) div,
#postDetail section:last-of-type article div {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
}

#postDetail section:nth-of-type(2) div img,
#postDetail section:last-of-type div img {
  width: 2rem;
  object-fit: contain;
  border-radius: 20px;
  margin-right: 0.5rem;
}

#postDetail section:nth-of-type(2) div p,
#postDetail section:last-of-type div p {
  color: var(--accentcolor);
}

#postDetail section:nth-of-type(2) > p {
  margin-top: .5rem;
}

#postDetail section:nth-of-type(2) > p:last-of-type {
  margin-top: 2rem;
  font-size: .9rem;
}

#postDetail section:last-of-type {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#postDetail section:last-of-type::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: var(--white);
  top: 0;

}

#postDetail section:last-of-type input {
  padding: 1rem 3rem;
  border-radius: 40px;
  border: solid 1px rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 250ms;
  margin-bottom: 1rem;
}

#postDetail section:last-of-type input:hover,
#postDetail section:last-of-type input:focus,
#postDetail section:last-of-type input:active {
  border: solid 1px rgba(255, 255, 255, 1);
}

#postDetail section:last-of-type article {
  width: 100%;
  background-color: var(--darkgrey);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

#postDetail section:last-of-type article > p {
  font-weight: 300;
}

/****************/
/****************/
/*** MAKEPOST ***/
/****************/
/****************/

#makePost {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
  color: var(--white);
}
#makePost section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;

  font-size: 1.2rem;
}
#makePost section:first-of-type h1 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#makePost section:first-of-type .flexdiv {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

#makePost section:first-of-type .flexdiv form svg {
  position: absolute;
  width: 2rem;
  height: 5vh;
  right: 0;
  margin-right: 1rem;
  fill: white;
}

#makePost input::placeholder {
  color: white;
  padding: 10px 10px;
}

#makePost section:first-of-type .flexdiv button {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

#makePost #Icon_awesome-filter {
  fill: white;
  width: 1vw;
}
#makePost section:first-of-type .flexdiv button svg {
  width: 1rem;
}
#makePost form {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
#makePost .emptyState {
  height: 0;
}
#makePost section:nth-of-type(2) {
  display: flex;
  height: 50vh;
  justify-content: center;
}
#makePost section:nth-of-type(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--accentcolor);
  cursor: pointer;
}

#makePost section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#makePost input,
textarea {
  border-radius: 8px;
  background-color: var(--inactive);
  border: none;
  height: 2rem;
  width: 60vw;
  color: var(--white);
  padding: 0.5rem 0.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#makePost select {
  border-radius: 8px;
  background-color: var(--inactive);
  border: none;
  height: 1.5rem;
  color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#makePost #description {
  height: 6rem;
  resize: vertical;
  max-height: 10rem;
}

#makePost #submitButton {
  padding: 0;
  background-color: var(--buttoncolor);
  height: 4em;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 10px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 250ms;
}

#makePost #submitButton:hover,
#makePost #submitButton:focus,
#makePost #submitButton:active {
  background-color: var(--accentcolor);
}

#makePost #svgPlus {
  position: relative;
}

#makePost fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
#makePost article {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  border: 1px var(--white) solid;
  border-radius: 8px;
  height: 11rem;
  background-color: var(--darkgrey);
}
#makePost #dropDown {
  height: 2rem;
  max-width: 60vw;
}
#makePost label {
  margin-bottom: 0.5rem;
}
