/* TODO: VOEG ID'S AAN ALLES TOE OM ZO ALLES IN DE MAIN CSS TE KUNNEN ZETTEN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --inactive: #696e79;
  --navcolor:#212E3A;
  --lightblue: #5CADFF;
}

#welcome {
    overflow-y: hidden;
    overflow-x: hidden;
}

#welcome main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--blue), var(--darkgrey));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', sans-serif, Tahoma, Geneva, Verdana;
    color: var(--white);
}

#welcome main form h1 {
    text-align: center;
    color: var(--accentcolor);
    position: relative;
    margin-bottom: 5rem;
    font-size: 2.25rem;
}

#welcome main form h1::after {
    width: 100%;
    height: 50%;
    content: '';
    background: linear-gradient(180deg, #14293F, #152839);
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: introAnimation;
    animation-duration: 3.25s;
    animation-iteration-count: 1;
    opacity: 0;
}

#welcome main form h1 span {
    color: white;
    position: relative;
}

#welcome main form h1 span::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, #14293F, #152839);
    position: absolute;
    left: 0;
    animation-name: introAnimation;
    animation-duration: 1.75s;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes introAnimation {
    0% {
        left: 0;
        opacity: 100;
    }

    100% {
        left: 20rem;
        opacity: 100;
    }
}

#welcome main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome main form fieldset:last-of-type {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#welcome main form fieldset:nth-of-type(3) {
    display: none;
}

#welcome main form fieldset input[type="submit"] {
    width: 60vw;
    padding: 0.75rem;
    border-radius: 10px;
    border: none;
    background-color: var(--inactive);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    cursor: default;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

#welcome main p {
    color: var(--white);
    font-weight: 400;
}

#welcome main p a {
    color: var(--accentcolor);
    transition: 250ms;
}

#welcome main p a:hover,
#welcome main p a:focus,
#welcome main p a:active {
    color: var(--buttoncolor);
}

#welcome fieldset {
    border: none;
    margin-bottom: 2rem;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
}

#welcome fieldset label {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .25rem;
    letter-spacing: 1px;
}

#welcome fieldset input {
    background-color: var(--secondarycolor);
    border: none;
    width: 60vw;
    height: 2.25rem;
    border-radius: 5px;
    color: var(--white);
    padding: .5rem;
}

#welcome fieldset input:focus {
    outline: solid 1px var(--accentcolor);
    outline-offset: 2px;
    border: none;
    width: 60vw;
    height: 2.25rem;
    border-radius: 5px;
}