/* TODO: VOEG ID'S AAN ALLES TOE OM ZO ALLES IN DE MAIN CSS TE KUNNEN ZETTEN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #132d46;
    --darkgrey: #191e29;
    --accentcolor: #03dda0;
    --white: #ffffff;
    --buttoncolor: #ff006e;
    --secondarycolor: #696e79;
    --inactive: #696e79;
    --navcolor:#212E3A;
    --lightblue: #5CADFF;
    --signOutColor: #f54949;
}

/****************/
/****************/
/* WELCOME PAGE */
/****************/
/****************/

#welcome, 
#login,
#signup {
    overflow-y: hidden;
    overflow-x: hidden;
}

#welcome main,
#login main,
#signup main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--blue), var(--darkgrey));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', sans-serif, Tahoma, Geneva, Verdana;
    color: var(--white);
}

#welcome main h1 {
    text-align: center;
    color: var(--accentcolor);
    margin-bottom: 5rem;
    font-size: 2.25rem;
    position: relative;
}

#welcome main h1 span {
    color: var(--white);
    position: relative;
}

#welcome main h1::after {
    width: 100%;
    height: 50%;
    content: '';
    background: linear-gradient(180deg, #14293F, #152839);
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: introAnimation;
    animation-duration: 3.25s;
    animation-iteration-count: 1;
    opacity: 0;
}


#welcome main h1 span::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, #14293F, #152839);
    position: absolute;
    left: 0;
    animation-name: introAnimation;
    animation-duration: 1.75s;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes introAnimation {
    0% {
        left: 0;
        opacity: 100;
    }

    100% {
        left: 20rem;
        opacity: 100;
    }
}

#welcome main div {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#welcome main div > a {
    width: 70vw;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: var(--buttoncolor);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    transition: 250ms;
}

#welcome main div > a:active,
#welcome main div > a:focus,
#welcome main div > a:hover {
    width: 65vw;
}

#welcome main p {
    color: var(--white);
    font-weight: 400;
}

#welcome main p a {
    color: var(--accentcolor);
    transition: 250ms;
}

#welcome main p a:hover,
#welcome main p a:focus,
#welcome main p a:active {
    color: var(--buttoncolor);
}

/****************/
/****************/
/* LOGIN/SIGNUP */
/****************/
/****************/

#login h1,
#signup h1 {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

#login form,
#signup form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login fieldset,
#signup fieldset {
    border: none;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

#login fieldset label,
#signup fieldset label {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .5rem;
    letter-spacing: 1px;
}

#login fieldset input,
#signup fieldset input {
    background-color: var(--secondarycolor);
    border: none;
    width: 60vw;
    height: 2.25rem;
    border-radius: 5px;
    color: var(--white);
    padding: .5rem;
}

#login fieldset:last-of-type input,
#signup fieldset:last-of-type input {
    width: 60vw;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: var(--buttoncolor);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5rem;
    cursor: pointer;
    transition: 250ms;
    margin-bottom: 1rem;
}

#login fieldset:last-of-type input:active,
#login fieldset:last-of-type input:focus,
#login fieldset:last-of-type input:hover,
#signup fieldset:last-of-type input:active,
#signup fieldset:last-of-type input:focus,
#signup fieldset:last-of-type input:hover {
    width: 55vw;
}

#login fieldset:last-of-type p,
#signup fieldset:last-of-type p {
    text-align: center;
}

#login fieldset:last-of-type p a,
#signup fieldset:last-of-type p a {
    color: var(--accentcolor);
    transition: 250ms;
}

#login fieldset:last-of-type p a:hover,
#login fieldset:last-of-type p a:focus,
#login fieldset:last-of-type p a:active,
#signup fieldset:last-of-type p a:hover,
#signup fieldset:last-of-type p a:focus,
#signup fieldset:last-of-type p a:active {
    color: var(--buttoncolor);
}

#login fieldset input:focus,
#signup fieldset input:focus {
    outline: solid 1px var(--accentcolor);
    outline-offset: 2px;
    border: none;
    width: 60vw;
    height: 2.25rem;
    border-radius: 5px;
}

#login fieldset:last-of-type,
#signup fieldset:last-of-type {
    margin-bottom: 0;
}

/****************/
/****************/
/**** ACCOUNT ***/
/****************/
/****************/

#account main {
    width: 100vw;
    min-height: 100vh;
    background: var(--darkgrey);
    font-family: 'Segoe UI', sans-serif, Tahoma, Geneva, Verdana;
    color: var(--white);
}

#account main section:first-of-type {
    width: 100vw;
    height: 15vh;
    background-color: var(--accentcolor);
    position: relative;
}

#account main section:first-of-type article {
    width: 6rem;
    height: 6rem;
    background-color: rgba(33, 46, 58, .7);
    border-radius: 100%;
    position: absolute;
    left: 1rem;
    bottom: -3rem;
    border: solid 4px var(--navcolor);
}

#account main section:nth-of-type(2) {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 6rem 0;
}

#account main section:nth-of-type(2) article {
    background-color: var(--navcolor);
    width: 90vw;
    border-radius: 10px;
    padding: 1rem;
}

#account main section article:first-of-type p {
    margin-bottom: 2rem;
}

#account main section article:first-of-type .flexdiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#account main section article:first-of-type .flexdiv button,
#account main section article:first-of-type .flexdiv a {
    padding: 0.75rem 1.25rem;
    border-radius: 20px;
    border: none;
    background-color: var(--darkgrey);
    color: var(--white);
    text-decoration: none;
    font-size: .8rem;
    cursor: pointer;
    transition: 250ms;
}

#account main section article:first-of-type .flexdiv button:hover,
#account main section article:first-of-type .flexdiv button:focus,
#account main section article:first-of-type .flexdiv button:active,
#account main section article:first-of-type .flexdiv a:hover,
#account main section article:first-of-type .flexdiv a:focus,
#account main section article:first-of-type .flexdiv a:active {
    color: var(--darkgrey);
    background-color: var(--accentcolor);
}

#account main section article:first-of-type .flexdiv button:hover svg,
#account main section article:first-of-type .flexdiv button:focus svg,
#account main section article:first-of-type .flexdiv button:active svg,
#account main section article:first-of-type .flexdiv a:hover svg,
#account main section article:first-of-type .flexdiv a:focus svg,
#account main section article:first-of-type .flexdiv a:active svg {
    fill: var(--darkgrey);
}

#account main section:nth-of-type(2) article:first-of-type a,
#account main section:nth-of-type(2) article:first-of-type button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#account main section:nth-of-type(2) article:first-of-type a svg,
#account main section:nth-of-type(2) article:first-of-type button svg {
    fill: var(--white);
    width: 1rem;
    transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(4),
#account main section:nth-of-type(2) article:last-of-type {
    padding: 0;
}

#account main section:nth-of-type(2) article:nth-of-type(4) a,
#account main section:nth-of-type(2) article:last-of-type a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(4) svg {
    width: 1rem;
    margin-left: auto;
    fill: var(--white);
    transition: 250ms;
}

#account main section:nth-of-type(2) article:nth-of-type(4) a:hover {
    background-color: var(--accentcolor);
    color: var(--darkgrey);
}

#account main section:nth-of-type(2) article:nth-of-type(4) a:hover svg {
    fill: var(--darkgrey);
}

#account main section:nth-of-type(2) article:last-of-type a {
    color: var(--signOutColor);
    transition: 250ms;
}

#account main section:nth-of-type(2) article:last-of-type a svg {
    width: 1.5rem;
    margin-right: 1rem;
    fill: var(--white)
}

#account main section:nth-of-type(2) article:last-of-type a:hover,
#account main section:nth-of-type(2) article:last-of-type a:focus,
#account main section:nth-of-type(2) article:last-of-type a:active {
    background-color: var(--signOutColor);
    color: var(--white)
}


