* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --lightblue: #5cadff;
}

body {
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  font-size: 1.2rem;
}

h1 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

span h2{
  position: relative;
  top: 4.5rem;
  right: 6rem;
}

h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
}

section:nth-of-type(4) p:nth-of-type(1){
  position: relative;
  top: 3rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3rem;
}

section:nth-of-type(4) p{
  position: relative;
  top: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

section:nth-of-type(4) p:nth-of-type(2){
  position: relative;
  top: 2rem;
}

section:nth-of-type(4) p:nth-of-type(2), section:nth-of-type(4) p:nth-of-type(3){
  text-align: center;
  width: 6rem;
  color: var(--white);
  padding: 0.3rem;
  background-color: var(--blue);
}

form {
  position: relative;
}

#searchbar {
  width: 65vw;
  height: 3rem;
  border-radius: 14px;
  margin-right: 0.5rem;
  border-style: none;
  font-size: 1.2rem;
  background-color: var(--secondarycolor);
  color: white;
  position: relative;
  padding: 10px 10px;
}

main section:first-of-type .flexdiv {
  width: 100vw;
  display: flex;
  justify-content: center;
}

main section:first-of-type .flexdiv form svg {
  position: absolute;
  width: 2rem;
  height: 5vh;
  right: 0;
  margin-right: 1rem;
  fill: white;
}

input::placeholder {
  color: white;
  padding: 10px 10px;
}

main section:first-of-type .flexdiv button {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

main section:nth-of-type(2) {
  display: flex;
  width: 80vw;
  margin-bottom: 1rem;
}

main section:nth-of-type(2) button {
  width: 6rem;
  height: 2rem;
  background-color: var(--secondarycolor);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  margin: 0.2rem;
  background-color: white;
}

#Icon_awesome-filter {
  fill: white;
  width: 1vw;
}

main section:first-of-type .flexdiv button svg {
  width: 1rem;
}

main section:nth-of-type(4){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 2.5rem;
}

main section:nth-of-type(4) article{
  width: 40vw;
  height: 35vh;
  background-color: #191e29;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid white;
}

.flexdiv {
  display: flex;
}

.filterMenu {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88vh;
  background: var(--darkgrey);
  z-index: 100;
  position: fixed;
  bottom: -100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.activeFilter {
  bottom: 0%;
  transition: all 0.5s ease-out;
  
}

.filterMenu article {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
}

.filterMenu svg {
  width: 9vw;
  fill: var(--accentcolor);
  position: absolute;
  right: 0;
  margin-right: 1rem;
  cursor: pointer;
}

.filterMenu article h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.filterMenu article .divFlexPlatform button {
  align-items: flex-start;
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.divFlexPlatform {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.divFlexPlatform button:hover{
  background-color: var(--blue);
  color: var(--white);
}

.divFlexPlatform span{
  width: 3rem;
  margin-left: 0.5rem;
}

label {
  margin-top: 1rem;
  width: 2em;
  color: var(--lightblue);
  margin: 1rem;
  font-size: 2rem;
}

.select-dropdown {
	position: relative;
	background-color: var(--white);
	border-radius: 4px;
}

.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
  width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
	appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}

.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid var(--secondarycolor);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.scroll{
  width: 100vw;
  height: 50vh;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  gap: 1.5rem;
  overflow-x: scroll;
  margin: 1rem;;
  margin-left: 2.5rem;
  margin-bottom: -2rem;
  margin-top: 4rem;
  overflow-y: hidden;
}

.scroll article{
  display: flex;
  display:-webkit-inline-box;
  /* justify-content: space-between;  */
  width: 40vw;
  height: 35vh;
  background-color: var(--darkgrey);
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid white;
  gap: 10rem;
}

section:nth-of-type(3) p:nth-of-type(1){
  position: relative;
  text-align: center;
  top: 4.8rem;
  right: 17rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3rem;
}

section:nth-of-type(3) p:nth-of-type(2){
  position: relative;
  top: 10rem;
  right: 35.5rem;
  /* left: 0.5rem;  */
  text-align: center;
  width: 6rem;
  height: 2rem;
  /* height: 2rem; */
  color: var(--white);
  padding: 0.3rem;
  background-color: var(--blue);
}

section:nth-of-type(3) p:nth-of-type(3){
  position: relative;
  top: 13rem;
  right: 51.5rem;
  /* left: 0.5rem;  */
  text-align: center;
  width: 6rem;
  height: 2rem;
  /* height: 2rem; */
  color: var(--white);
  padding: 0.3rem;
  background-color: var(--blue);
}

section:nth-of-type(5) article:nth-of-type(3){
  margin-top: 3rem;
}

section:nth-of-type(3){
  position: relative;
}

section:nth-of-type(3) h2{
  position: absolute;
  bottom: 15rem;
}


.genreSelect, .taalSelect{
  cursor: pointer;
}

.buttonContainer {
  bottom: 1rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
}

.filterMenu button {
  width: 40%;
  height: 2.7rem;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.resultButton {
  background-color: var(--buttoncolor);
  color: var(--white);
}

