* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --lightblue: #5cadff;
}

body {
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: var(--accentcolor);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  margin-top: 0.5em;
}

h4 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

p {
  color: var(--white);
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .swiper-container {
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide li {
} */

.swiper li {
  list-style: none;
  background-color: #696e79;
  width: 80vw;
  height: auto;
  border-radius: 2em;
  padding: 2em;
  margin: 1em;
}

.swiper p {
  margin-bottom: 2rem;
}

.swiper a {
  text-decoration: none;
  padding: 0.8em 1.2em 0.8em 1.2em;
  color: var(--white);
  background-color: var(--buttoncolor);
  border: none;
  border-radius: 0.5em;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.newReleases img {
  width: 80vw;
  margin-top: 0.1em;
  border-radius: 0.5em;
}

.newReleases article {
  display: flex;
  flex-direction: column;
}

.popular {
  width: 80vw;
  height: auto;
  border-radius: 2em;
}

.popular img {
  width: 50vw;
  margin-top: 0.1em;
  border-radius: 0.5em;
}

.featuredDiscounts img {
  width: 50vw;
  margin-top: 0.1em;
  border-radius: 0.5em;
}

.featuredDiscounts article {
  display: flex;
}

.featuredDiscounts p {
  margin-right: 0.5em;
}

.percentage {
  background-color: var(--lightblue);
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  border-radius: 0.5em;
}

.discount {
  opacity: 50%;
  text-decoration: line-through;
}
