* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --lightblue: #5cadff;
}

body {
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  color: var(--white);
  overflow-y: scroll;
  padding-bottom: 10rem;
}

h1 {
  color: var(--white);
  letter-spacing: 0.2rem;
  padding: 2rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: var(--darkgrey) 2px 5px;
}

h1 span {
  color: var(--accentcolor);
}

h2 {
  color: var(--accentcolor);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 0.5rem;
}

h4 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

p {
  color: var(--white);
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
  text-decoration: none;
}

section {
  margin-top: 0.5rem;
}

.backgroundBlock {
  height: 60vh;
}

.swiper {
  width: 100%;
  max-width: 300px;
  height: 100%;
  position: relative;
}

.swiper li {
  list-style: none;
  padding: 2em;
  border-radius: 1.5rem;
  margin-bottom: 4rem;
}
/* 
.swiper p {
  margin-bottom: 2rem;
} */

.swiper button {
  text-decoration: none;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  color: var(--white);
  background-color: var(--buttoncolor);
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
}

#game-image {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}

#game-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 1.5rem;
  opacity: 50%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#game-image h4 {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-shadow: #2d2d2d 3px 3px 3px;
}

#game-image p {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-shadow: #2d2d2d 3px 3px 3px;
  margin-bottom: 0.5rem;
}

#game-image p:nth-of-type(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 2rem;
}

#game-image p:last-of-type {
  bottom: 1rem;
  margin-bottom: 0;
  padding: 0.65rem 1.2rem;
  border-radius: 8px;
  background: var(--accentcolor);
  text-shadow: none;
  color: var(--darkgrey);
  font-weight: 600;
  width: 5rem;
  text-align: center;
}

#game-image a {
  /* box-shadow: #00000080 3px 3px 3px; */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem;
}

.newReleases h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 9rem;
}

.slider {
  overflow: auto;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.slider-wrapper {
  display: flex;
}

.slider-wrapper img {
  object-fit: cover;
  margin-top: 1rem;
  max-width: 9rem;
  height: 12rem;
  border-radius: 0.8rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-slide {
  margin-right: 1rem;
}

.popular-wrapper {
  display: flex;
  overflow-x: scroll hidden;
}

.popular-slide {
  margin-right: 1rem;
}

.popular-slide img {
  object-fit: cover;
  margin-top: 1rem;
  max-width: 16rem;
  height: 12rem;
  border-radius: 0.8rem;
}

.popular li {
  list-style: none;
}

.featuredDiscounts p {
  margin-right: 0.5rem;
}

.discount-wrapper {
  display: flex;
  overflow-x: scroll hidden;
}

.discount-slide {
  margin-right: 1rem;
}

.discount-slide img {
  object-fit: cover;
  margin-top: 1rem;
  max-width: 16rem;
  height: 12rem;
  border-radius: 0.8rem;
}

#price-discount {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#oPrice {
  opacity: 50%;
  text-decoration: line-through;
}

#nPrice span {
  background-color: var(--lightblue);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
