* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
}

::selection {
  background-color: var(--buttoncolor);
}
body {
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
}
