* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #132d46;
  --darkgrey: #191e29;
  --accentcolor: #03dda0;
  --white: #ffffff;
  --buttoncolor: #ff006e;
  --secondarycolor: #696e79;
  --inactive: #696e79;
  --navcolor: #212e3a;
  --lightblue: #5cadff;
  --hrcolor: #132d46;
}

::selection {
  background-color: var(--buttoncolor);
}
body {
  background: linear-gradient(180deg, var(--blue), var(--darkgrey));
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/****************/
/****************/
/***** NAV ******/
/****************/
/****************/

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6.5em;
  background-color: var(--navcolor);
  border-radius: 25px 25px 0 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  list-style: none;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 0.4em;
  fill: var(--white);
  color: var(--white);
}

nav ul li svg {
  height: 2rem;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  color: var(--accentcolor);
  fill: var(--accentcolor);
  cursor: pointer;
}

.activeNavPage {
  color: var(--accentcolor);
  fill: var(--accentcolor);
}

/* FIXME: Om de active page op alle pagina's te laten 
werken moeten we kijken op welke pagina de url staat en 
aan de hand daarvan een active state geven ipv onclick */

/****************/
/****************/
/***** 404 ******/
/****************/
/****************/

#errPage {
  color: var(--white);
}

#errPage main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#errPage div h1 {
  font-size: 6rem;
}

#errPage div p {
  font-size: 1.25rem;
  font-weight: 300;
}

#errPage main a {
  width: 80vw;
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
  background-color: var(--buttoncolor);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;
}