<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops, this page does not exist!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="errPage">
    <main>
        <div>
            <h1>500</h1>
            <p>Oops, there seems to be a server error!</p>
        </div>
        <a href="/">Back to home</a>
    </main>
</body>
</html>