<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to, GameSphere!</title>
    <link rel="stylesheet" href="/css/ejs.css">
    <!-- <script src="/js/welcome.js" defer></script> -->
</head>
<body id="login">
    <header></header>
    <main>
        <form action="/login" method="post">

            <h1><span>Welcome to,</span> GameSphere</h1>

            <fieldset>
                <label for="username">username</label>
                <input type="text" name="username" id="username" autocomplete="username" required>
            </fieldset>

            <fieldset>
                <label for="password">password</label>
                <input type="password" name="password" id="password" autocomplete="current-password" required>
            </fieldset>

            <fieldset>
                    <input type="submit" name="submitButton" id="submitButton" value="Sign in">
                    <p>or <a href="/sign-up">Create an account</a></p>
            </fieldset>
        </form>


        <!-- TODO: IF USERNAME EXISTS IN DB, METHOD GET (OM IN TE LOGGEN) & ACTION => HOMEPAGE & AUTOCOMPLETE = CURRENT PASSWORD, 
            ELSE IF USERNAME DOESNT EXIST IN DB, METHOD PUSH (OM ACC TE MAKEN) & ACTION => HOMEPAGE & AUTOCOMPLETE = NEW PASSWORD -->

    </main>
    <footer></footer>
</body>
</html>