<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Post | GameSphere</title>
    <link rel="stylesheet" href="/css/ejs.css" />
    <script src="/js/makePost.js" defer></script>
  </head>
  <body>
    <header><%- include ("nav") -%></header>
    <main id="makePost">
      <%- include ("loadingScreen") -%>
      <section>
        <h1>Make Post</h1>
        <form action="/forum/makePost" method="post">
          
          <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" />
          </fieldset>

          <fieldset>
            <label for="description">Description</label>
            <textarea
              type="text"
              name="description"
              id="description"
            ></textarea>
          </fieldset>

          <fieldset>
            <label for="game">Game</label>
            <select name="game" id="dropDown">
              <option value="select">select</option>
            </select>
          </fieldset>

          <!-- <fieldset>
            <label for="image">Image</label>
            <input id="imagePick" />
          </fieldset> -->

          <fieldset>
            <input
              type="submit"
              name="submitButton"
              id="submitButton"
              value="Create post"
            />
          </fieldset>
        </form>
      </section>
    </main>
  </body>
</html>
