<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | GameSphere</title>
    <link rel="stylesheet" href="/css/ejs.css">
    <script src="/js/tutorial.js" defer></script>
</head>
<body>
    <main id="tutorial">
        <article>
            <h2>All Games, <span>Right here</span></h2>
            <p>Explore new games from all platforms just on a single page!</p>
            <button>Next</button>
            <form action="/" method="post">
                <input type="submit" name="submitButton" id="submitButton" value="Let's Start!">
            </form>
        </article>
    </main>
</body>
</html>