<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="height: 100vh; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <!-- FIXME: DIT IS EEN TESTBESTAND -->
    <% if(users){
        for(users of users) { %>
            <h2>Welcome back, <%= users.username %></h2>
        <% } %>
    <% } else { %>
        <p>No users found &#128531;</p>
    <% } %>
</body>
</html>