<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="height: 100vh; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 2rem;">
    <!-- FIXME: DIT IS EEN TESTBESTAND -->
    <p><%- users[0].username -%></p>
    <p><%- users[0].email -%></p>
    <p><%- users[0].genre -%></p>
    <p><%- users[0].password -%></p>

</body>
</html>