<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to, GameSphere!</title>
    <link rel="stylesheet" href="/css/ejs.css">
    <script src="/js/welcome.js" defer></script>
</head>
<body id="welcome">
    <header></header>
    <main>
        <h1><span>Welcome to,</span> GameSphere</h1>
        
    </main>
    <footer></footer>
</body>
</html>