<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to, GameSphere!</title>
    <link rel="stylesheet" href="/css/ejs.css">
</head>
<body id="welcome">
    <header></header>
    <main>
        <h1><span>Welcome to,</span> GameSphere</h1>
        <article>
            <a href="/login">Sign in</a>
            <p>or <a href="/sign-up">Create an account</a></p>
        </article>
    </main>
    <footer></footer>
</body>
</html>